[submodule "external/nanogui"]
	path = external/nanogui
	url = https://github.com/mitsuba-renderer/nanogui.git
[submodule "external/packetcomms"]
	path = external/packetcomms
	url = https://github.com/mpups/packetcomms.git
[submodule "external/videolib"]
	path = external/videolib
	url = https://github.com/markp-gc/videolib.git
[submodule "external/myguilib/external/imgui"]
	path = external/myguilib/external/imgui
	url = git@github.com:ocornut/imgui.git
